body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/* FONT FONT FONT */
.base_header_font {
  font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
}

.base_footer_font {
  font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
}

.font_gigante{
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.font_semigigante{
  font-weight: 600;
  font-size: 30px;
  color: white;
}

/* COMMON COMMON COMMON */
.affix {
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-default{
  border: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.sharp {
  border-radius:0;
}

.btn-primary {
    background-color: #193441;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #1ABC9C;
}

/* HEADER HEADER HEADER*/
#header .navbar-default {
	background-color: #193441;
}

#header .navbar-default .nav-item a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

#header .navbar-default .nav-item a:hover {
    color: #1ABC9C;
}

#base_header_botones {
  margin-top: 12px;
}

#base_header_hamburguesa{
  margin-top: 20px;
}

#base_header_hamburguesa:hover, #base_header_hamburguesa:focus {
  background-color: #1ABC9C;
}

#base_logo {
   background-image: url('/images/logo_blanco.png');
   background-size:     cover;
   background-repeat:   no-repeat;
   background-position: center center;
   width: 150px;
   height: 55px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#base_logo:hover {
   background-image: url('/images/logo_hover.png');
}

/* FOOTER FOOTER FOOTER*/
#footer a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

#footer a:hover {
    color: #1ABC9C;
    text-decoration: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 55px;*/
  background-color: #193441;
  padding-top: 8px;
}

/* CUERPO CUERPO CUERPO */
#cuerpo_top {
    background: url("/images/background.jpg") center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    position: relative;
    padding: 60px 0 60px 0;
    margin-top: 75px;
}

#cuerpo_top_content{
  margin-top: 40px;
}

.mensaje1{

}

.mensaje2{

}

#btn_presencial{
  margin-right: 20px;
}
