body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  height: 100%;
}

a, a:active, a:hover, a:focus {
    text-decoration: none;
}

/* FONT FONT FONT */
.base_header_font {
  font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
}

.base_footer_font {
  font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
}

.font_gigante{
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.font_semigigante{
  font-weight: 600;
  font-size: 30px;
  color: white;
}

/* COMMON COMMON COMMON */
.affix {
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-default{
  border: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.sharp {
  border-radius:0;
}

.btn-primary {
    background-color: #193441;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #1ABC9C;
}

/* HEADER HEADER HEADER*/
#header .navbar-default {
	background-color: #193441;
}

#header .navbar-default .nav-item a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

#header .navbar-default .nav-item a:hover {
    color: #1ABC9C;
}

#base_header_botones {
  margin-top: 12px;
}

#base_header_hamburguesa{
  margin-top: 20px;
}

#base_header_hamburguesa:hover, #base_header_hamburguesa:focus {
  background-color: #1ABC9C;
}

#base_logo {
   background-image: url('/images/logo_blanco.png');
   background-size:     cover;
   background-repeat:   no-repeat;
   background-position: center center;
   width: 150px;
   height: 55px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#base_logo:hover {
   background-image: url('/images/logo_hover.png');
}

/* FOOTER FOOTER FOOTER*/
#footer a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

#footer a:hover {
    color: #1ABC9C;
    text-decoration: none;
}

#footer {
  background-color: #193441;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* CUERPO CUERPO CUERPO */
#cuerpo_top {
    background: url("/images/background.jpg") center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    position: relative;
    padding: 60px 0 60px 0;
    margin-top: 75px;
}

#cuerpo_top_content{
  margin-top: 40px;
}

h2.homepage-section-title {
    text-align: center;
    font-weight: 200;
    font-size: 31px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.course-listing {
    background-color: #f7f7f7;
    box-shadow: 0px 1px #d7e1e2;
    border: 1px solid #d7e1e2;
    padding: 0px;
    cursor: pointer;
    margin-bottom: 50px;
    height: 390px;
}

.course-listing .course-box-image-container {
    overflow: hidden;
    max-height: 208px;
    border-bottom: 1px solid #EDEDED;
}

#course-box-image-container-react {
  background-color: #222222;
}

#course-box-image-container-flux {
  background-color: #3b3738;
}

#course-box-image-container-html {
  background-color: #FFF;
}

.course-listing .course-box-image-container .course-box-image {
    display: block;
    margin: auto;
    max-height: 208px;
}

.course-listing .course-listing-title {
    color: #2b3636;
    line-height: 25px;
    padding: 16px 16px 4px 16px;
    font-weight: bold;
    font-size: 18px;
    max-height: 70px;
    overflow: hidden;
}

.course-listing:hover {
    box-shadow: 0px 0px 0px 1px #1ABC9C;
    border: 1px solid #1ABC9C;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.course-listing:hover .course-listing-title {
    color: #1ABC9C;
    transition: all linear 0.1s;
}

.course-listing .course-listing-subtitle {
    color: #586f6f;
    padding: 5px 16px;
    font-weight: 200;
    font-size: 14px;
    max-height: 65px;
    overflow: hidden;
    font-size: 14px;
}

.course-listing .course-listing-extra-info {
    padding: 16px;
    bottom: 50px;
    left: 16px;
    position: absolute;
}

.course-listing .course-listing-extra-info .img-circle {
    width: 30px;
    height: 30px;
}

.course-listing .course-listing-extra-info .course-price {
    color: #3e8f95 !important;
    line-height: 34px;
    color: #dff2f3;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.course-listing .course-listing-extra-info .course-author-name {
    max-height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-weight: 200;
    font-size: 15px;
    padding-left: 5px;
}

#btn_presencial{
  margin-right: 20px;
}
